:root {
  --body-bg: #FFEDD5;
  --title-color: #2D2C2A;
  --title-color-half: #995000;
  --subtitle-color: #2D2C2A;
  --text-color: rgba(0, 0, 0, 0.7);
  --footer-boder-top: #2D2C2A;
}

.dark_mode {
  --body-bg: #2E2A26;
  --title-color: #FED7AA;
  --title-color-half: #995000;
  --subtitle-color: #2D2C2A;
  --text-color: rgba(241, 223, 187, 0.7);
  --footer-boder-top: #FED7AA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--body-bg);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
.price {
  font-family: 'Roboto Serif', serif;
}

h2 {
  color: var(--subtitle-color)
}

h3,
.price {
  color: var(--title-color);
}

header {
  text-align: center;
  padding: 1rem 0;
}

header div h1 {
  font-size: 2rem;
  color: var(--title-color);
}

header div h1 span {
  color: #995000;
}

p {
  color: var(--text-color);
}

h2 {
  font-size: 1.125rem;
}

h3,
.price {
  font-size: 1rem;
}

.moon {
  color: var(--title-color);
}

._moon {
  display: none;
}

.sun {
  color: var(--title-color-half);
  display: none;
}

._sun {
  display: inline-block;
}

.logo-dark {
  display: none;
}

._logo-dark {
  display: block;
}

._logo {
  display: none;
}

header,
section {
  width: 300px;
}

header div {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

section {
  margin-bottom: 1.5rem;
}


h2 {
  padding: 0.5rem 6.8rem;
  background-color: #FED7AA;
}

li {
  display: flex;
  padding-top: 1.5rem;
}

li>div>p {
  margin-top: 0.5rem;
}

.theme-switch-btn {
  border: none;
  background-color: transparent;
  color: #2D2C2A;
  font-size: 26px;
  cursor: pointer;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0.5rem 0;
  font-size: 1.625rem;
  border-top: 1px solid #2D2C2A;
  width: calc(100vw - 64px);
  border-top: 1px solid var(--footer-boder-top);
  color: #995000;
}

footer strong,
footer span {
  color: var(--title-color);
}

footer strong {
  font-size: 0.85rem;
  margin: 0 0.5rem;
}

footer strong span {
  margin-left: 0.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FED7AA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #995000;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #995000;
}